html {
  overflow: hidden;
  background: #222;
}

body,
head {
  display: block;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 70%;
  left: 70%;
  width: 2rem;
  height: 2rem;
  content: ".";
  mix-blend-mode: screen;
  -webkit-animation: 44s -27s move infinite ease-in-out alternate;
          animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: -0.1762527094em 0.6175650626em 7px rgba(255, 134, 0, 0.9), -0.2553924676em 0.1038459995em 7px rgba(0, 32, 255, 0.9), 2.0187097389em 1.3055788125em 7px rgba(0, 93, 255, 0.9), 1.6524720931em -0.3048160149em 7px rgba(0, 255, 8, 0.9), 2.3551217564em 0.6586931411em 7px rgba(255, 81, 0, 0.9), -0.4930397301em 2.0906133928em 7px rgba(255, 0, 71, 0.9);
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
}

body::after {
  text-shadow: 2.2663474251em -0.2871861323em 7px rgba(255, 60, 0, 0.9), 2.4799231144em 0.2941865927em 7px rgba(19, 255, 0, 0.9), 0.6754693623em 2.3346333661em 7px rgba(255, 123, 0, 0.9), 0.4018472917em -0.1140719773em 7px rgba(255, 103, 0, 0.9), 2.018925108em 2.1295748959em 7px rgba(0, 255, 71, 0.9), 2.1348588613em 1.3506665079em 7px rgba(0, 255, 248, 0.9);
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
}

head::before {
  text-shadow: 0.5806345567em 0.0495129575em 7px rgba(58, 255, 0, 0.9), 1.5033066962em 1.2656630778em 7px rgba(214, 255, 0, 0.9), 1.1730042511em 0.3202338123em 7px rgba(0, 100, 255, 0.9), 1.2437724783em 1.6279245229em 7px rgba(255, 254, 0, 0.9), 0.6876726508em 2.3473593181em 7px rgba(232, 255, 0, 0.9), 2.480093806em 2.3159828859em 7px rgba(0, 191, 255, 0.9);
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
}

head::after {
  text-shadow: 1.498931922em 1.2580394181em 7px rgba(255, 0, 24, 0.9), 1.3664527731em -0.2535533399em 7px rgba(0, 255, 152, 0.9), 0.1344564743em 0.214334664em 7px rgba(140, 255, 0, 0.9), -0.3854428716em -0.2297679258em 7px rgba(255, 109, 0, 0.9), 1.4335102682em -0.394711298em 7px rgba(0, 19, 255, 0.9), 1.4888826446em 1.5834609898em 7px rgba(0, 248, 255, 0.9);
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
}

@-webkit-keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }

  to {
    transform: rotate(360deg) scale(30) translateX(20px);
  }
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }

  to {
    transform: rotate(360deg) scale(30) translateX(20px);
  }
}

